.container.marketing
  .row.featurette
    .col-md-7
      %h2.featurette-heading
        Entrées
      %p.lead
        Nos entrées sont faites chaques jours avec des ingrédients frais et pleins de saveur afin de mettre en éveil tout vos sens.
      %a.btn.btn-default{:href => "#", :role => "button"} Menu entrées »
    .col-md-5
      = image_tag 'foods/avocat-crevette.JPG', :alt => 'image avocat-crevettes', :class => 'featurette-image img-responsive', :width=> '300px', :height => '300px'

  %hr.featurette-divider

  .row.featurette
    .col-md-5
      = image_tag 'foods/pizza.jpg', :alt => 'image pizza', :class => 'featurette-image img-responsive', :width=> '400px', :height => '400px'
    .col-md-7
      %h2.featurette-heading
        Plats
      %p.lead
        Les plats que nous vos proposons sont fait avec passions et envies. Notre désir : vous faire faire un court voyage au centre de notre phare sur les côtes de l'Italie !
      %a.btn.btn-default{:href => "#", :role => "button"} Menu plats »

  %hr.featurette-divider

  .row.featurette
    .col-md-7
      %h2.featurette-heading
        Desserts
      %p.lead
        Laissez vous bercer par la douceur de notre crême caramel ou la légerté de notre Tiramisu maison. Ici les plus gourmands pourront être aux anges.
      %a.btn.btn-default{:href => "#", :role => "button"} Menu desserts »
    .col-md-5
      = image_tag 'foods/ice-cream.jpg', :alt => 'image glace', :class => 'featurette-image img-responsive', :width=> '400px', :height => '400px'